container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "admin.settings.staging"
    "PYTHONPATH": "/opt/python/current/app/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: /opt/python/current/app/app/admin/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"